body{
  color: #404040;font-family: 'Microsoft YaHei','微软雅黑',Tahoma,SimSun,Arial,Helvetica,sans-serif;
  font-size: 14px;font-style: normal;font-variant: normal;line-height: 150%; letter-spacing:1.1px;
}
a {
  text-decoration: none; color:#404040;
}
a:hover {
 color: #FF0000;
}
.h_ul li {
 float:left;margin-right:10px;
}
.ul_h li {
 float:left;
}
.sl {
  float: left;_display: inline;width: 200px; overflow:hidden; margin-right:10px;
}
.sr {
  float: left;overflow:hidden; width:790px;
}
.box {
 height:100% auto;
}
.box .h {
 background:#F8DAC2;overflow:hidden;border:1px solid #F8DAC2;
}
.box .c {
 height:100% auto;border:1px solid #F8DAC2;
}
.row-fl {
 height:100% auto; overflow:hidden;float:left; margin-bottom:10px;
}
.row {
 height:100% auto; overflow:hidden;
}
.row .txt,.row-fl .txt{
 border: 1px solid #BBBBBB;height: 14px;padding:3px;background:#FFFFFF;
}
.row textarea,.row-fl textarea{
 border: 1px solid #BBBBBB;padding:3px;background:#FFFFFF;height:80px !important;
}
.row .rl,.row-fl .rl {
 text-align:right; float:left;
}
.bg_curr{
 background:#e6e6e6;color:#00438a;
}
.stxt{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 80px; background:#FFFFFF;
}
.abtn {
 color:#008000;cursor:pointer;
}
.abtn_g {
width: 60px;height: 25px;line-height: 25px;text-align: center;font-size: 14px;color: #A64E06;text-decoration: none;background: url('Images/iconBtn.png') no-repeat -140px -317px;
}
.abtn_f {
 padding:3px; background:#D1703E; border:1px solid #EDCF8F;color: #FFFFFF;margin-right: 10px;
}
.bg_cg{
 background:#008000;
}
.bg_cr{
 background:#FF0000;
}
.bg_cy{
 background:#FFFF00;
}
.bg_cg{
 background:#008000;color:#FFFFFF;
}
.bg_a {
background: #E39411;color: #FFFFFF;
}
.bg_aa{
 background:#f7efdf;color:#FFFFFF;
}
.cb{
 background:#FFFFFF;border: 1px solid #95B8E7;
}
.w {
 width: 1000px;margin: 0 auto;
}
.w90 {
 width:90px !important;
}
.w100 {
 width: 100px;
}
.w110 {
 width: 110px;margin: 0 auto;
}
.w120 {
 width: 120px;margin: 0 auto;
}
.w130 {
 width: 130px;margin: 0 auto;
}
.w134 {
 width: 134px !important;
}
.w179 {
 width: 179px;
}
.w200 {
 width: 200px;
}
.w288 {
 width: 288px;
}
.w400 {
 width: 400px;
}
.w408 {
 width: 405px;
}
.w700 {
 width: 700px;
}
.w740 {
 width: 740px;
}
.h24 {
 height:24px;
}
.search_box .ul_h li{
 margin-right:10px;
}

/*商品、图片横向展现*/
.row_col {
 height:100% auto; float:left; margin-right:10px; border:solid 1px #dddddd; padding:10px; margin-bottom:10px !important;padding-right: 0;
}
.row_col .img{
 width:100px;height:100px;
}
.curr {
 border:solid 1px #FF0000 !important;
}
.title h1 {
 text-align:center;font-size:16px;
}

/*header*/
#header *{
 color:#FFF;
}
#header .aa {
 /*background:url('Images/bg_lightgreen.png');*/ height:100% auto; color:#FFFFFF; padding:10px;min-height:62px;
}
#header .aa .aaa {
 font-weight: 700;font-size:24px; text-align:center;  line-height: 42px;
}
#header .aa .aab {
 font-weight:600; text-align:center;font-size:18px; height:30px; line-height:30px; width:310px; float:right;
}
#header .aa .aac {
 font-size:12px; width:342px; float:left; text-align:right; line-height:41px;
}
#header a {
 color:#FFFFFF; 
}
#header .lvUser {
 position: absolute;top: 20px;right: 20px;
}
.sitetitle{
 font-weight: 700;font-size: 24px;text-align: center;line-height: 58px;
}

/*footer*/
#footer .aa {
 text-align:center;
}

/*barcodeCtr*/
.sw-barcode table {
 width:100%;margin:0 auto;border-spacing:0;border-collapse:collapse;
}
.sw-barcode .border td{
 text-align:center;border:1px solid #000;overflow:hidden;
}
.sw-barcode .border td.curr-merge{
 background:#e6e6e6;color:#00438a;
}

/*easyui*/
.validatebox-invalid {
 border-color:#bbb;background-color: #fff;
}
.textbox-invalid {
 border-color:#bbb;background-color: #fff;
}
.tree-expanded {
 background-position:-112px 0 !important;
}
.tree-collapsed {
 background-position:-97px 0 !important;
}
.tree-folder {
 background-image:none;width:0 !important;
}
.tree-file {
 background-position: -112px 0;
}
#westTree .tree-indent {
 display:none;
}
#westTree .tree-node {
 padding:8px 10px; background:#F5CCAE; color:#562812;
}
.datagrid-cell{
 white-space:normal;word-wrap: break-word;word-break: break-all;
}
.datagrid-row-selected .abtn, .datagrid-row-selected .c-g, .datagrid-row-selected .cy {
  color: #FFFF00;
}
.accordion .accordion-header-selected {
 background: #4a8bfc;
}
.accordion .accordion-header-selected .panel-title {
 color: #fff;
}

/*菜单*/
#west .accordion-body li{
 padding:3px 0;
}
#west .accordion-body li a{
 padding:5px;font-size: 14px;
}
.menus .tree-file {
 display:none;
}
.menus .tree-node {
 font-size: 14px;padding-top:2px;padding-bottom:2px;
}
.acc .menus .tree-expanded {
 margin-left: 15px;
}
.acc .menus .tree-collapsed {
 margin-left: 15px;
}
.acc .menus .tree-node-selected {
 background-color:#fff;
}
.acc .menus .tree-node-selected .tree-title{
 color: #008800;font-size: 16px;
}

.infoT {
 width:100%;
}
.infoT tr td {
 padding:3px; vertical-align:top;
}
.infoT .tar {
 text-align:right; width:100%;
}
.infoT .txt {
 border: 1px solid #BBBBBB;height: 14px;padding: 4px 3px;width: 120px; background:#FFFFFF;
}

div.h_r {
 height:30px; line-height:30px;overflow:hidden;
}
div.h_r .ddl_r {
 height:22px;width:88px;
}
.datagrid-row-selected .abtn {
 color:#FFFF00;
}