<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
	</configSections>
	<connectionStrings>
    <add name="AspnetDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=TygaSoftAspnetDb" providerName="System.Data.SqlClient"/>
    <add name="AssetDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=AssetDb" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="WebDAL" value="TygaSoft.SqlServerDAL"/>
		<add key="AESEncryptKey" value="011de50b-216d-49c4-8836-8ba2f4c9e490"/>
		<add key="FilesRoot" value="~/Files"/>
		<!-- 运行模式 -->
		<add key="RunMode" value="none"/>
		<!-- 上传文件大小限制 -->
		<add key="UploadFileSize" value="5120000"/>
		<!-- 生成缩略图 -->
		<add key="PC" value="800*800,350*350,50*50"/>
		<add key="Android" value="350*350,150*150,60*60"/>
		<add key="IOS" value="350*350,150*150,60*60"/>

		<!-- Enable data caching -->
		<add key="EnableCaching" value="false"/>
		<add key="CacheDependencyAssembly" value="TygaSoft.TableCacheDependency,TygaSoft.TableCacheDependency"/>
		<add key="CacheDatabaseName" value="CceccDb"/>
		<add key="MenusCacheDuration" value="12"/>
		<add key="MenusTableDependency" value="Menus"/>

		<!-- Msmq -->
		<add key="MsmqMessaging" value="TygaSoft.MsmqMessaging"/>
		<add key="RunQueue" value=".\private$\AssetRunQueue"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Forms">
			<forms defaultUrl="~/" loginUrl="~/login.html" name=".TygaSoft2AssetFm" path="/" timeout="180" protection="All" slidingExpiration="false" requireSSL="false" cookieless="UseCookies"/>
		</authentication>
		<membership defaultProvider="MsSqlMembershipProvider" hashAlgorithmType="SHA1">
			<providers>
				<clear/>
				<add name="MsSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspnetDbConnString" applicationName="TygaSoft2Asset" requiresUniqueEmail="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="15" passwordAttemptWindow="10" passwordStrengthRegularExpression="^[\@A-Za-z0-9_\-\!\#\$\%\^\*\.\~]{6,30}$" />
			</providers>
		</membership>
		<roleManager defaultProvider="MsSqlRoleProvider" enabled="true" cookieName=".TygaSoftRole" cookiePath="/" cookieProtection="All" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieTimeout="30" createPersistentCookie="false" cacheRolesInCookie="true" maxCachedResults="25">
			<providers>
				<clear/>
				<add name="MsSqlRoleProvider" connectionStringName="AspnetDbConnString" applicationName="TygaSoft2Asset" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<anonymousIdentification enabled="true"/>
		<profile automaticSaveEnabled="false" enabled="true" defaultProvider="SqlProfileProvider" inherits="TygaSoft.CustomProvider.CustomProfileCommon">
			<providers>
				<clear/>
				<add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AspnetDbConnString" applicationName="TygaSoft2Asset" description=""/>
			</providers>
		</profile>
		<caching>
			<sqlCacheDependency enabled="false" pollTime="10000">
				<databases>
					<add name="AssetDb" connectionStringName="AssetConnString" pollTime="10000"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<siteMap defaultProvider="CustomSiteMapProvider" enabled="true">
			<providers>
				<!--<add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" description="Site Map Default"/>
        <add name="AssetSiteMapProvider" type="TygaSoft.CustomProvider.AssetSiteMapProvider,TygaSoft.CustomProvider" siteMapFile="~/App_Data/AssetSitemap.xml" />-->
				<add name="CustomSiteMapProvider" type="TygaSoft.CustomProvider.CustomSiteMapProvider,TygaSoft.CustomProvider" />
			</providers>
		</siteMap>
		<httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter"/>
    </httpModules>
	</system.web>
	<!--<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter"/>
		</modules>
	</system.webServer>-->
	<rewriter file="~/App_Data/UrlRewriter.xml"/>

	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="TygaSoft.WcfService.PdaService">
				<endpoint address="" binding="webHttpBinding" behaviorConfiguration="AjaxBehavior" contract="TygaSoft.WcfService.IPda"/>
			</service>
			<service name="TygaSoft.WcfService.SecurityService">
				<endpoint address="" binding="webHttpBinding" behaviorConfiguration="AjaxBehavior" contract="TygaSoft.WcfService.ISecurity"/>
			</service>
			<service name="TygaSoft.WcfService.Service">
				<endpoint address="" binding="webHttpBinding" behaviorConfiguration="AjaxBehavior" contract="TygaSoft.WcfService.IService"/>
			</service>
		</services>
		<bindings>
			<webHttpBinding>
				<binding allowCookies="true">
					<security mode="None"></security>
				</binding>
			</webHttpBinding>
			<basicHttpBinding>
				<binding allowCookies="true">
					<security mode="None"></security>
				</binding>
			</basicHttpBinding>
			<wsHttpBinding>
				<binding allowCookies="true">
					<security mode="None"></security>
				</binding>
			</wsHttpBinding>
			<netMsmqBinding>
				<binding durable="false" exactlyOnce="false">
					<security mode="None"/>
				</binding>
			</netMsmqBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<!--<behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>-->
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="AjaxBehavior">
					<webHttp/>
					<!--<enableWebScript />-->
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>

			<endpoint address="http://www.tygaweb.com/Security/Service/AuthenticationService.svc" binding="basicHttpBinding" contract="AuthenticationService" />
			<endpoint address="http://www.tygaweb.com/Security/Service/RoleService.svc" binding="basicHttpBinding" contract="RoleService" />
			<endpoint address="http://www.tygaweb.com/Security/Service/ProfileService.svc" binding="basicHttpBinding" contract="ProfileService" />
		</client>
	</system.serviceModel>
</configuration>
